########################################################################
# File types
########################################################################
jest.config.js

########################################################################
# Folders
########################################################################
templates/
