########################################################################
# File types
########################################################################
.DS_Store

########################################################################
# Folders
########################################################################
coverage/
dist/
generators/
node_modules/
typedocs/
