########################################################################
# File types
########################################################################
.DS_Store
.generator.config

########################################################################
# Folders
########################################################################

# don't commit compiled files
coverage/
dist/
generators/
node_modules/
