########################################################################
# File types
########################################################################
.DS_Store
.npmrc

########################################################################
# Folders
########################################################################
coverage/
dist/
generators/
node_modules/
typedocs/
