########################################################################
# File types
########################################################################

########################################################################
# Folders
########################################################################
.circleci/
.github/
src/
temp/
