########################################################################
# File types
########################################################################

########################################################################
# Folders
########################################################################
.circleci/
.github/
coverage/
docs/
src/
temp/
typedocs/
