########################################################################
# File types
########################################################################
.npmrc

########################################################################
# Folders
########################################################################
.circleci/
.github/
coverage/
docs/
src/
temp/
typedocs/
