# https://circleci.com/docs/2.0/sample-config/
version: 2
jobs:
  build:
    working_directory: ~/generator
    docker:
      - image: circleci/node:10.13.0
    steps:
      - checkout

      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}

      - run:
          name: install
          command: npm install

      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules

      - run:
          name: Unit Tests
          command: npm run test:ci

      - run:
          name: Linters
          command: npm run lint
